* {
  box-sizing: border-box;
  
}

:root {
  /* Variable declaration - palette colors */
  --dark: #293241;
  --orange: #EE6C4D;
  --bright: #E0FBFC;
  --blue: #98C1D9;
  --dark-blue: #3D5A80;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--dark);
  background-color: var(--bright);
  font-size: larger;

}

/* Navigation CSS */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  
}

#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--blue);
  
}

#navbar p a:hover {
  color: var(--orange);
}

h1 {
  color: var(--blue);
  margin-bottom: 0;
  padding-left: 20px;
  display: block;
}

a {
  color: var(--blue);
  margin: 0 10px 0 10px;
  font-size: large;
}

/* Hero section */
.hero-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  min-height: 200px;
  background-image: linear-gradient(
    180deg,rgba(41, 50, 65), rgba(224, 251, 252));
}

.hero-banner h2 {
  color: var(--orange);
}

/* Projects section*/

.page-section h2 {
  border-right: 3px solid var(--orange);
  color: var(--orange);
  text-align: right;
  padding-right: 10px;
}

.page-section {
  display: grid;
  grid-template-columns: 300px 1fr;

}

#about p {
  padding: 20px;
  text-align: justify;
  display: block;
}

#project1 {
  background-image: url("../images/02-portfolio-6.png");
}

#project2 {
  background-image: url("../images/02-portfolio-1.jpg");
}

#project3 {
  background-image: url("../images/02-portfolio-3.png");
}

#project4 {
  background-image: url("../images/02-portfolio-4.jpg");
}

#project5 {
  background-image: url("../images/02-portfolio-5.png");
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-item {
  display: flex;
  align-items: flex-end;
  flex-basis: calc(50% - 1em);
  margin: .5em;
  min-height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 80%);
  border-radius: 10px;
  text-decoration: none;
}

.flex-item:hover {
  opacity: 0.6;
}

.flex-item:first-child {
  min-height: 300px;
  flex-basis: 100%;
}

.flex-item div {
  background-color: var(--orange);
  padding: 10px;
  border-radius: 10px;
  opacity: 0.9;
  
}

.flex-item h3 {
  color: var(--dark);
}

.flex-item h4 {
  color: var(--dark);
}
/* Contact section */

#contact footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer a {
  color: var(--dark);
}

/* Media queries mobile */

@media screen and (min-width: 360px) and (max-width: 960px){
  header {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  h2 {
    text-align: center;
  }
  .page-wrapper h2 {
    text-align: center;
    border-right: none;
    border-bottom: 3px solid var(--orange);
    margin: 10px;
  }

  .flex-item {
    flex-basis: 100%;
  }
  .flex-item:first-child {
    min-height: 300px;
  }
  .page-section {
    display: grid;
    grid-template-columns: 1fr;
  }
}
